In [2]:
import pandas as pd

In [67]:
de_dir = '/media/pipkin/ROCKET-PRO/CD8_DEV_SC/3_IL2RAKO_Nascent/2_DE/0_original_GN'
out_dir = '/media/pipkin/ROCKET-PRO/CD8_DEV_SC/9_Figures/3_IL2RAKO_Nascent'

In [69]:
sum_df = pd.DataFrame({"hour":[], "WT-KO_up":[], "WT-KO_dn":[], 
                       "WT-nav_up":[], "WT-nav_dn":[], "KO-nav_up":[], "KO_nav_dn":[],
                       "WT-KO_up_and_WT-nav_up":[], "WT-KO_dn_and_WT-nav_dn":[]})
for hour in [0, 6, 24, 48]:
    wt_ko_file = de_dir + "/nondupr_WT_%sh_vs_KO_%sh_addGN.csv"%(hour, hour)
    wt_ko_df = pd.read_csv(wt_ko_file)
    wt_ko_df.columns = ["ENSEMBL"] + wt_ko_df.columns.tolist()[1:]
    
    wt_ko_df_sig = wt_ko_df[wt_ko_df['padj']<= 0.05]
    wt_ko_df_up = wt_ko_df_sig[wt_ko_df_sig['log2FoldChange'] > 0]
    wt_ko_df_dn = wt_ko_df_sig[wt_ko_df_sig['log2FoldChange'] < 0]
    if hour != 0:
        wt_nav_file = de_dir + "/nondupr_WT_%sh_vs_WT_0h_addGN.csv"%(hour)
        wt_nav_df = pd.read_csv(wt_nav_file)
        wt_nav_df.columns = ["ENSEMBL"] + wt_nav_df.columns.tolist()[1:]
        wt_nav_df_sig = wt_nav_df[wt_nav_df['padj'] <= 0.05]
        wt_nav_df_up = wt_nav_df_sig[wt_nav_df_sig['log2FoldChange'] > 0]
        wt_nav_df_dn = wt_nav_df_sig[wt_nav_df_sig['log2FoldChange'] < 0]
        wt_up = len(wt_nav_df_up)
        wt_dn = len(wt_nav_df_dn)

        ko_nav_file = de_dir + "/nondupr_KO_%sh_vs_ko_0h_addGN.csv"%(hour)
        ko_nav_df = pd.read_csv(ko_nav_file)
        ko_nav_df.columns = ["ENSEMBL"] + ko_nav_df.columns.tolist()[1:]
        ko_nav_df_sig = ko_nav_df[ko_nav_df['padj'] <= 0.05]
        ko_nav_df_up = ko_nav_df_sig[ko_nav_df_sig['log2FoldChange'] > 0]
        ko_nav_df_dn = ko_nav_df_sig[ko_nav_df_sig['log2FoldChange'] < 0]
        ko_up = len(ko_nav_df_up)
        ko_dn = len(ko_nav_df_dn)
        
        up_overlap = len(set(wt_ko_df_up['ENSEMBL'].tolist()) & set(wt_nav_df_up['ENSEMBL'].tolist()))
        dn_overlap = len(set(wt_ko_df_dn['ENSEMBL'].tolist()) & set(wt_nav_df_dn['ENSEMBL'].tolist()))
    else:
        wt_up, wt_dn, ko_up, ko_dn, up_overlap, dn_overlap = 0,0,0,0,0,0
        

    hour_row = {"hour":hour, "WT-KO_up":len(wt_ko_df_up), "WT-KO_dn":len(wt_ko_df_dn),
                "WT-nav_up":wt_up, "WT-nav_dn":wt_dn, "KO-nav_up":ko_up, "KO_nav_dn":ko_dn,
                "WT-KO_up_and_WT-nav_up":up_overlap, "WT-KO_dn_and_WT-nav_dn":dn_overlap}
    sum_df = sum_df.append(hour_row, ignore_index=True)
sum_df = sum_df.astype(int)
sum_df.to_csv("%s/diff_numbers.csv"%out_dir, index=False)
sum_df

,hour,WT-KO_up,WT-KO_dn,WT-nav_up,WT-nav_dn,KO-nav_up,KO_nav_dn,WT-KO_up_and_WT-nav_up,WT-KO_dn_and_WT-nav_dn
0,0,49,177,0,0,0,0,0,0
1,6,159,156,13376,15034,10893,12628,104,123
2,24,354,428,14218,15028,13238,13406,217,248
3,48,1951,1957,14371,13857,11942,11571,1421,1258